* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-Container {
  background-color: #E5E5E5;
  min-height: 100vh;
  padding: 8px 16px;
}

.nav-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.menu-btn {
  background: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.lg-icon-container {
  display: none;
  gap: 15px;
}

.menu-bar-btn {
  display: none;
}


@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .lg-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .menu-bar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
  }

  .shop {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
}

.logoImg {
  height: 40px;
  width: auto;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icons {
  position: relative;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


.cart-icon-container {
  position: relative;
}

.cart-icon-container span {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #F1B434;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.award-container{
    display: none;
}

@media screen and (min-width:768px) {
    .award-container{
        display: flex;
        justify-content: space-between;
        width: 15%;
    }
}

@media screen and (min-width:768px) {
    .award-btn{
        border: none;
        background-color: transparent;
        font-size: 16px;
        cursor: pointer;
    }
}
